<h3 class="page-header">Posts</h5>
<% @posts.each do |post| %>
	<div class="well">
		<h4><%= post.title %></h4>
		<h4 class="text-info"><%= post.user.name %></h4>
		<p class="quiet"><%= post.description %></p>
		<small><%= post.url %></small>
	</div>
<% end %>
