
<form action="/posts" method="post" class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="title">Title</label>
    <div class="controls">
      <input type="text" id="title" name="post[title]" placeholder="Title">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="url">URL</label>
    <div class="controls">
      <input type="text" id="url" name="post[url]" placeholder="URL">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="description">Description</label>
    <div class="controls">
      <input type="text" id="description" name="post[description]" placeholder="Description">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary">Create Post!</button>
    </div>
  </div>
</form>