/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


$baseFontSize: 18px;

@import 'bootstrap';
@import "bootstrap-responsive";

.container {
  
}

.navbar-inner {
  padding-left: 84px;
}

.navbar-inner .nav li a, .navbar-inner a.brand {
  color: #4099ff;
}

.navbar-inner .nav li a {
  letter-spacing: 0.9px;
}

.navbar-inner .nav li a.new-post-button i {
  margin-right: 3px;
}

.navbar-inner .nav li a:hover {
  color: #4099ff;
  background-color: #fcc;
}

.navbar-inner a.brand:hover {
  color: #4099ff;
  background-color: #fcc;
}

.quiet {
  color: #ababab;
}

.post-header a {
  display: block;
  width: 7%;
  padding-left: 3px;
  margin-top: 10px;
}

.comments-list .text-info {
  font-size: 1.1em;
}

.comments-list a {
  display: none;
}

.comments-list:hover a {
  display:inline;
} 

form a {
  display:block;
  color: red;
}



