/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


$baseFontSize: 18px;

@import 'bootstrap';
@import "bootstrap-responsive";

.container {
  
}

.navbar {
  margin-bottom: 5px;
}

.navbar-inner {
  padding-left: 84px;
}

.navbar-inner .nav li a {
  color: #4099ff;
   border-radius: 5px;
}

.navbar-inner .nav li a {
  letter-spacing: 0.9px;
}

.navbar-inner .nav li a.new-post-button i {
  margin-right: 3px;
}

.navbar-inner .nav li a.new-category-button i {
  margin-right: 3px;
  background-color: #49a549;
}

.navbar-inner .nav li a:hover {
  color: #3088ff;
  background-color: #ccf;
}

.navbar-inner .nav li a i {
  background-color: #88f;
  border-radius: 5px;
}


.my-header {
    padding: 0;
    height: 50px;
    width: 100%;
}

.my-header h3 {
  margin: 5px 0 0 5px;
  float: left;
}

.my-header ul {
  margin: 13px 0 0 0;
  float: right;
}

.my-header li {
  list-style: none;
  display: inline;
  margin-right: 5px;
}

.my-header li a:visited {
  color: white;
}

.quiet {
  color: #ababab;
}

.post-header a {
  display: block;
  padding-left: 3px;
  margin-top: 15px;
}

.post-header .post-edit-delete {
  float: right;
}

.post-header .post-edit-delete a {
  display: inline;
}

.post-header ul {
  margin: 0;
}

.post-header li {
  list-style: none; 
  display: inline;
}

.post-header li a {
  display: inline;
}

.no-hover:hover {
  text-decoration: none;
  background-color: whitesmoke;
  color: #ababab;
}

.post-header img {
  padding-left: 7px;
  padding-bottom: 4px;
}

.post-header h4 small {
  font-size: 0.5em;
}

.post-header small {
  font-size: 0.9em;
}

.comments-list .text-info {
  font-size: 1.1em;
}

.comments-list a {
  display: none;
}

.comments-list:hover a {
  display:inline;
} 

form a {
  display:block;
  color: red;
}

.edit-profile-button {
  margin-top: 10px;
  &:visited { 
    color: white;
  }
}





